{
  "presets": ["es2015"],
  "plugins": [
    "inline-package-json",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
